/*!
Author: Rachel Pellin
Author URI: https://prachel.fr/
Package: webtopie-sass-starter
Version: 1.0
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables

# Base
  ## Elements
  ## Typography
  ## Layout

# Components
  ## Buttons
  ## Forms
  ## Icons
  ## Progress

# Utility
	## Accessibility
  ## Spacers
	## Alignments

--------------------------------------------------------------*/

@import "config/mixins";

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
@import "config/variables";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/reset";
@import "elements/base";

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
@import "layout/containers";

/*--------------------------------------------------------------
# Utility
--------------------------------------------------------------*/
@import "utility/accessibility";
@import "utility/spacers";