/*!
Author: Rachel Pellin
Author URI: https://prachel.fr/
Package: webtopie-sass-starter
Version: 1.0
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables

# Elements
  ## Reset
  ## Base

# Components
  ## Icons

# Layout
  ## Containers

# Utility
	## Accessibility
  ## Spacers

--------------------------------------------------------------*/

@import "config/mixins";

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
@import "config/variables";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/reset";
@import "elements/base";

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
@import "components/icons";

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
@import "layout/containers";

/*--------------------------------------------------------------
# Utility
--------------------------------------------------------------*/
@import "utility/accessibility";
@import "utility/spacers";