/*!
Author: Rachel Pellin
Author URI: https://prachel.fr/
Package: webtopie-sass-starter
Version: 1.0
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables

# Elements
  ## Reset
  ## Base

# Components
  ## Icons

# Layout
  ## Containers

# Utility
	## Accessibility
  ## Spacers

--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
:root {
  --color-primary: RoyalBlue;
  --color-secondary: aliceblue;
  --color-tertiary: whitesmoke;
  --color-success: green;
  --color-error: red;
  --color-info: cyan;
  --font-body: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-title: var(--font-body);
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --spacer-auto: auto;
  --spacer-0: 0;
  --spacer-xs: 0.5rem;
  --spacer-s: 1rem;
  --spacer-m: 2rem;
  --spacer-l: 3rem;
  --spacer-xl: 4rem;
  --spacer-xxl: 5rem;
  --border-radius: 20px;
  --color-text: #222;
  --color-link: var(--color-primary);
  --color-button-bg: var(--color-primary);
  --color-button-text: #fff;
  --text-size-desktop: 1.2rem;
  --text-size-mobile: 1rem;
  --site-width: 55rem;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/*
## Reset
=====================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

/*
## Base
@source Vanilla CSS - https://github.com/bradleytaunt/vanilla-css
=====================*/
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  color: var(--color-text);
  font-size: var(--text-size-mobile);
}
@media screen and (min-width: 50rem) {
  body {
    font-size: var(--text-size-desktop);
  }
}

body,
input {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
dl,
img,
figure {
  margin: 2rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.2;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 120%;
}

h4,
h5,
h6 {
  font-size: 100%;
}

h5,
h6 {
  text-transform: uppercase;
}

header h1 {
  border-bottom: 1px solid;
}

p {
  margin: 2rem 0;
}

a,
a:visited {
  color: var(--color-link);
}

strong,
time,
b {
  font-weight: bold;
}

em,
dfn,
i {
  font-style: italic;
}

sub {
  font-size: 60%;
  vertical-align: bottom;
}

small {
  font-size: 80%;
}

blockquote,
q {
  background: var(--color-secondary);
  border-left: 10px solid var(--color-primary);
  display: block;
  font-family: "Georgia", serif;
  padding: 1rem;
}

blockquote p:first-child {
  margin-top: 0;
}

cite {
  font-family: "Georgia", serif;
  font-style: italic;
  font-weight: bold;
}

kbd,
code,
samp,
pre,
var {
  font-family: monospace;
  font-weight: bold;
}

code,
pre {
  background: var(--color-tertiary);
  padding: 0.5rem 1rem;
}

code pre,
pre code {
  padding: 0;
}

/* Elements */
hr {
  background: var(--color-text);
  border: 0;
  height: 1px;
  margin: 4rem 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

figure {
  border: 1px solid var(--color-primary);
  display: inline-block;
  padding: 1rem;
  width: auto;
}

figure img {
  margin: 0;
}

figure figcaption {
  font-size: 80%;
  margin-top: 0.5rem;
}

ul,
ol {
  margin: 2rem 0;
  padding: 0 0 0 4rem;
}

dl dd {
  padding-left: 2rem;
}

table {
  border: 1px solid var(--color-primary);
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
}
@media screen and (min-width: 50rem) {
  table {
    table-layout: fixed;
  }
}

table caption {
  margin: 2rem 0;
}

table thead {
  text-align: center;
}

table tbody {
  text-align: right;
}

table tr {
  border-bottom: 1px solid var(--color-primary);
}

table tbody tr:nth-child(even) {
  background: var(--color-tertiary);
}

table th {
  background: var(--color-secondary);
  font-weight: bold;
}

table th,
table td {
  padding: 1rem;
}

table th:not(last-of-type),
table td:not(last-of-type) {
  border-right: 1px solid var(--color-primary);
}

input {
  appearance: none;
  border: 1px solid var(--color-text);
  display: block;
  margin: 0.5rem 0;
  padding: 0.8rem;
}

input:focus,
input:active {
  background-color: var(--color-secondary);
  border-color: var(--color-link);
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/*
## Icons
=====================*/
.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  line-height: 1;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 1em;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
/*
## Containers
=====================*/
.container {
  margin: 0 auto;
  max-width: var(--site-width);
}

/*--------------------------------------------------------------
# Utility
--------------------------------------------------------------*/
/*
## Accessibility
=====================*/
.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.skip-link {
  opacity: 0;
  background: var(--color-primary);
  color: var(--color-background-blue);
  font-weight: 700;
  top: 0;
  z-index: 99999;
  left: 50%;
  padding: 0.5rem 1.5rem;
  position: absolute;
  transform: translateY(-100%) translateX(-50%);
  transition: transform 0.3s;
}
.skip-link:focus {
  opacity: 1;
  transform: translateY(0%) translateX(-50%);
}

/*
## Spacers
=====================*/
.maauto {
  margin: auto;
}

.mtauto {
  margin-top: auto;
}

.mrauto {
  margin-right: auto;
}

.mbauto {
  margin-bottom: auto;
}

.mlauto {
  margin-left: auto;
}

.paauto {
  padding: auto;
}

.ptauto {
  padding-top: auto;
}

.pbauto {
  padding-bottom: auto;
}

.prauto {
  padding-right: auto;
}

.plauto {
  padding-left: auto;
}

.ma0 {
  margin: 0;
}

.mt0 {
  margin-top: 0;
}

.mr0 {
  margin-right: 0;
}

.mb0 {
  margin-bottom: 0;
}

.ml0 {
  margin-left: 0;
}

.pa0 {
  padding: 0;
}

.pt0 {
  padding-top: 0;
}

.pb0 {
  padding-bottom: 0;
}

.pr0 {
  padding-right: 0;
}

.pl0 {
  padding-left: 0;
}

.maxs {
  margin: "0.5rem";
}

.mtxs {
  margin-top: "0.5rem";
}

.mrxs {
  margin-right: "0.5rem";
}

.mbxs {
  margin-bottom: "0.5rem";
}

.mlxs {
  margin-left: "0.5rem";
}

.paxs {
  padding: "0.5rem";
}

.ptxs {
  padding-top: "0.5rem";
}

.pbxs {
  padding-bottom: "0.5rem";
}

.prxs {
  padding-right: "0.5rem";
}

.plxs {
  padding-left: "0.5rem";
}

.mas {
  margin: "1rem";
}

.mts {
  margin-top: "1rem";
}

.mrs {
  margin-right: "1rem";
}

.mbs {
  margin-bottom: "1rem";
}

.mls {
  margin-left: "1rem";
}

.pas {
  padding: "1rem";
}

.pts {
  padding-top: "1rem";
}

.pbs {
  padding-bottom: "1rem";
}

.prs {
  padding-right: "1rem";
}

.pls {
  padding-left: "1rem";
}

.mam {
  margin: "2rem";
}

.mtm {
  margin-top: "2rem";
}

.mrm {
  margin-right: "2rem";
}

.mbm {
  margin-bottom: "2rem";
}

.mlm {
  margin-left: "2rem";
}

.pam {
  padding: "2rem";
}

.ptm {
  padding-top: "2rem";
}

.pbm {
  padding-bottom: "2rem";
}

.prm {
  padding-right: "2rem";
}

.plm {
  padding-left: "2rem";
}

.mal {
  margin: "3rem";
}

.mtl {
  margin-top: "3rem";
}

.mrl {
  margin-right: "3rem";
}

.mbl {
  margin-bottom: "3rem";
}

.mll {
  margin-left: "3rem";
}

.pal {
  padding: "3rem";
}

.ptl {
  padding-top: "3rem";
}

.pbl {
  padding-bottom: "3rem";
}

.prl {
  padding-right: "3rem";
}

.pll {
  padding-left: "3rem";
}

.maxl {
  margin: "4rem";
}

.mtxl {
  margin-top: "4rem";
}

.mrxl {
  margin-right: "4rem";
}

.mbxl {
  margin-bottom: "4rem";
}

.mlxl {
  margin-left: "4rem";
}

.paxl {
  padding: "4rem";
}

.ptxl {
  padding-top: "4rem";
}

.pbxl {
  padding-bottom: "4rem";
}

.prxl {
  padding-right: "4rem";
}

.plxl {
  padding-left: "4rem";
}

.maxxl {
  margin: "5rem";
}

.mtxxl {
  margin-top: "5rem";
}

.mrxxl {
  margin-right: "5rem";
}

.mbxxl {
  margin-bottom: "5rem";
}

.mlxxl {
  margin-left: "5rem";
}

.paxxl {
  padding: "5rem";
}

.ptxxl {
  padding-top: "5rem";
}

.pbxxl {
  padding-bottom: "5rem";
}

.prxxl {
  padding-right: "5rem";
}

.plxxl {
  padding-left: "5rem";
}

/*# sourceMappingURL=styles.css.map */
