/// <span style="color: #2196F3;font-size: 2rem; line-height:0">■</span> Blue<br>
/// <span style="color: red;font-size: 2rem; line-height:0">■</span> Red<br>
/// <span style="color: black;font-size: 2rem; line-height:0">■</span> Black<br>
$colors: (
  'blue': #2196F3,
  'red': red,
  'black': black
);

/// Spacer values to generate padding & margin classes
$spacers: (
  'auto': auto,
  '0': 0,
  'xs': '0.5rem',
  's': '1rem',
  'm': '2rem',
  'l': '3rem',
  'xl': '4rem',
  'xxl': '5rem',
);

/// CSS variables for theming and global config
:root {
  // Brand colors
  --color-primary: blue;
  --color-secondary: teal;
  --color-tertiary: peru;

  // Semantic colors
  --color-success: green;
  --color-error: red;
  --color-info: cyan;

  // font family
  --font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
  --font-title: var(--font-body);
  --font-mono: monospace;
}