/*
## Base
@source Vanilla CSS - https://github.com/bradleytaunt/vanilla-css
=====================*/

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  color: var(--color-text);
  font-size: var(--text-size-mobile);
  @media screen and (min-width: 50rem) {
    font-size: var(--text-size-desktop);
  }
}
body,
input {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
dl,
img,
figure {
  margin: 2rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.2;
}
h1 {
  font-size: 200%;
}
h2 {
  font-size: 150%;
}
h3 {
  font-size: 120%;
}
h4,
h5,
h6 {
  font-size: 100%;
}
h5,
h6 {
  text-transform: uppercase;
}

header h1 {
  border-bottom: 1px solid;
}

p {
  margin: 2rem 0;
}

a,
a:visited {
  color: var(--color-link);
}

strong,
time,
b {
  font-weight: bold;
}
em,
dfn,
i {
  font-style: italic;
}
sub {
  font-size: 60%;
  vertical-align: bottom;
}
small {
  font-size: 80%;
}

blockquote,
q {
  background: var(--color-secondary);
  border-left: 10px solid var(--color-primary);
  display: block;
  font-family: "Georgia", serif;
  padding: 1rem;
}
blockquote p:first-child {
  margin-top: 0;
}
cite {
  font-family: "Georgia", serif;
  font-style: italic;
  font-weight: bold;
}

kbd,
code,
samp,
pre,
var {
  font-family: monospace;
  font-weight: bold;
}
code,
pre {
  background: var(--color-tertiary);
  padding: 0.5rem 1rem;
}
code pre,
pre code {
  padding: 0;
}

/* Elements */
hr {
  background: var(--color-text);
  border: 0;
  height: 1px;
  margin: 4rem 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

figure {
  border: 1px solid var(--color-primary);
  display: inline-block;
  padding: 1rem;
  width: auto;
}
figure img {
  margin: 0;
}
figure figcaption {
  font-size: 80%;
  margin-top: 0.5rem;
}

ul,
ol {
  margin: 2rem 0;
  padding: 0 0 0 4rem;
}

dl dd {
  padding-left: 2rem;
}

table {
  border: 1px solid var(--color-primary);
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;

  @media screen and (min-width: 50rem) {
    table-layout: fixed;
  }
}
table caption {
  margin: 2rem 0;
}
table thead {
  text-align: center;
}
table tbody {
  text-align: right;
}
table tr {
  border-bottom: 1px solid var(--color-primary);
}
table tbody tr:nth-child(even) {
  background: var(--color-tertiary);
}
table th {
  background: var(--color-secondary);
  font-weight: bold;
}
table th,
table td {
  padding: 1rem;
}
table th:not(last-of-type),
table td:not(last-of-type) {
  border-right: 1px solid var(--color-primary);
}

input {
  appearance: none;
  border: 1px solid var(--color-text);
  display: block;
  margin: 0.5rem 0;
  padding: 0.8rem;
}
input:focus,
input:active {
  background-color: var(--color-secondary);
  border-color: var(--color-link);
}
